body{background:#0a0a0a;color:white;text-align:center;font-family:Arial}
button{padding:10px;margin:5px;background:gold;border:none;border-radius:8px}

.card{
  display:inline-block;
  width:150px;
  margin:5px;
  padding:10px;
  border-radius:10px;
}

.Basic{background:#555}
.Rare{background:#1e90ff}
.Legendary{background:#ff8c00}
.Golden{background:gold;color:black}
.Platinum{background:silver;color:black}
.Ruby{background:crimson}
.Sapphire{background:#0ff;color:black}
.Amethyst{background:purple}
.Diamond{background:#87cefa;color:black}
.RedDiamond{background:#8b0000}
.BlackDiamond{background:black;border:2px solid cyan}

#packAnim{
  position:fixed;
  top:0;left:0;width:100%;height:100%;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.glow{
  width:120px;height:120px;border-radius:50%;
  animation:pulse 1s infinite;
}

@keyframes pulse{
  0%{transform:scale(1);opacity:0.6}
  100%{transform:scale(1.5);opacity:0}
}
